<div class="header-container">
    <h1>BPS Financial</h1>
    <a href="https://drive.google.com/drive/folders/1UlQgk6yiWao7K_hwLp3n6zIUFezQcmdu?usp=drive_link" 
       target="_blank" 
       rel="noopener noreferrer" 
       class="google-link">
      Click here for CPT file
    </a>
  </div>

<iframe width="100%" height="100%" src="https://lookerstudio.google.com/embed/reporting/1a5bf2af-b4da-4a4e-b961-48f1c7921a6a/page/1pxcD" frameborder="0" style="border:0" allowfullscreen sandbox="allow-storage-access-by-user-activation allow-scripts allow-same-origin allow-popups allow-popups-to-escape-sandbox"></iframe>

