<!-- <div class="header-container">
    <h1>LHI BFP</h1>
    <a href="https://docs.google.com/spreadsheets/d/1XDPSXb2amd-9_qPGq_NkRqpNy08VleIseyVVll6RIvI/edit?usp=drive_link" 
       target="_blank" 
       rel="noopener noreferrer" 
       class="google-link">
      Click here BFP tracker
    </a>
  </div>
  
  
  
    <iframe width="100%" height="100%"
    src="https://lookerstudio.google.com/embed/reporting/2776e86f-3d15-4265-84fb-5c5a4aa44018/page/p_df785977id"
      frameborder="0" style="border:0;" allowfullscreen
      sandbox="allow-storage-access-by-user-activation allow-scripts allow-same-origin allow-popups allow-popups-to-escape-sandbox">
    </iframe>
  
  
   -->

<h1>LHI BFP</h1>

<p>This report is viewable via Excel. Click and download the preferred report.</p>

<div style="
  position: relative;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  margin-top: 1rem;
  background-color: white;
">
  <iframe 
    src="https://drive.google.com/embeddedfolderview?id=1MvzzaJi4MTLiH4uJQ7jvfYJ8xv7yUHR1#list" 
    style="
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: none;
    ">
  </iframe>
</div>